/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #8b459b;
}

/* Chat Container */

.chat-container {
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    padding: 50px;
    border: 4px solid #110303;
    border-radius: 15px;
    box-shadow: 10 0 10px rgba(0, 0, 0, 0.1);
}

/* Chat Header */

.chat-header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    border: 3px solid #ab0707;
}

/* Chat Conversation */

.chat-conversation {
    padding: 22px;
    color: blue;
    text-shadow: #333;
    border-radius: 15px;
}

.chat-message {
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.chat-input {
    padding: 10px;
}

#user-input-field {
    width: 75%;
    padding: 10px;
    border: 3px solid #ab0707;
    border-radius: 15px;
}

#send-button {
    width: 23%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 14px;
    border: 2px solid #ab0707;
    cursor: pointer;
}

#send-button:hover {
    background-color: #e11212;
}
